In [1]:
import pandas as pd
import numpy as np
from quetzal.model import stepmodel

In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\marlin.arnz\AppData\Local\Continuum\miniconda3\envs\quetzal\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

# Calibration
## Preparation of input data
Synthesise travel time columns with optimal paths from the model

In [2]:
input_path = '../input/transport_demand/'
model_path = '../model/'

In [3]:
# Load StepModel with LOS table...
sm = stepmodel.read_json(model_path + 'de_pt_access_egress')
pt = stepmodel.read_json(model_path + 'de_pt_los')
car = stepmodel.read_json(model_path + 'de_road_los')

In [4]:
sm.pt_los = pt.pt_los
sm.car_los = car.car_los

In [20]:
# Load calibration dataset
trips = pd.read_csv(input_path + 'calibration_inter-cellular_trips_MiD2017.csv')
print(len(trips.index))

108338

In [21]:
trips = trips.drop(columns='Unnamed: 0')
trips.reset_index(drop=True, inplace=True)
#trips.head()

In [23]:
# Replace LAU codes with NUTS IDs
if not str(trips.loc[0, 'origin']).startswith('DE'):
    # Update LAU IDs from GÃ¶ttingen
    trips['origin'] = trips['origin'].replace({3152:3159, 3156:3159})
    trips['destination'] = trips['destination'].replace({3152:3159, 3156:3159})
    # Map to NUTS IDs
    z = stepmodel.read_json(model_path + 'de_zones')
    lau_nuts_dict = z.zones.set_index('lau_id')['NUTS_ID'].to_dict()
    trips['origin'] = trips['origin'].astype(str).map(lau_nuts_dict)
    trips['destination'] = trips['destination'].astype(str).map(lau_nuts_dict)

    # Drop all other trips
    trips = trips.loc[(trips['origin'].notna()) & (trips['destination'].notna())]

In [24]:
len(trips)

107906

All imputated time columns are needed for the MLE model. They do not replace duration statements in the survey but complement each trip with alternative travel times in modes that were not used for this trip.

In [25]:
# Create dictionaries from LoS tables
# Take the fastest trips
car_dict = sm.car_los.sort_values('time').groupby(
    ['origin', 'destination']).first()['time'].to_dict()
pt_dict = sm.pt_los.sort_values('time').groupby(
    ['origin', 'destination', 'route_type']).first()['time'].to_dict()

In [26]:
# Car
# Directly from car LoS table, converted to minutes
trips['time_car'] = [car_dict[a]/60
                     if a in car_dict.keys() else np.nan
                     for a in tuple(zip(trips['origin'], trips['destination']))]

In [27]:
# Some OD pairs might not be in the volumes table
# which results in missing values for the calibration dataset
k = len(trips.loc[trips['time_car'].isna()])
print(k)
print(k / len(trips.loc[trips['mode_model']==6]))

36
0.00038446751249519417

In [28]:
# Drop trips without time reference if its share is insignificant
trips = trips.loc[trips['time_car'].notna()]

In [29]:
# PT
for t in sm.pt_los['route_type'].unique():
    trips['route_type'] = t
    trips['time_' + t] = [pt_dict[a]/60
        if a in pt_dict.keys() else np.inf
        for a in tuple(zip(trips['origin'], trips['destination'], trips['route_type']))]
trips.drop('route_type', axis=1, inplace=True)

In [30]:
# Replace time for the mode of choice
mode_col_map = {1: 'time_rail_short_distance', 2: 'time_rail_long_distance',
                3: 'time_coach', 4: 'time_bus', 5: 'time_air',
                6: 'time_car', 7: 'time_walk'}
for index, row in trips.iterrows():
    trips.loc[index, mode_col_map[row['mode_model']]] = row['duration']

In [31]:
# The fastest route determines time of rail service
trips['time_rail'] = [min(t_s, t_l)
                      for t_s, t_l in zip(trips['time_rail_short_distance'],
                                          trips['time_rail_long_distance'])]
trips.loc[trips['mode_model']==1, 'time_rail'] = \
    trips.loc[trips['mode_model']==1, 'time_rail_short_distance']
trips.loc[trips['mode_model']==2, 'time_rail'] = \
    trips.loc[trips['mode_model']==2, 'time_rail_long_distance']

In [32]:
trips.groupby('mode_model').agg(
    {'time_rail_long_distance': 'mean', 'time_rail_short_distance': 'mean',
     'time_rail': 'mean', 'time_coach': 'mean', 'time_bus': 'mean',
     'time_air': 'mean', 'time_car': 'mean', 'time_walk': 'mean'})

,time_rail_long_distance,time_rail_short_distance,time_rail,time_coach,time_bus,time_air,time_car,time_walk
mode_model,,,,,,,,
1,inf,65.605957,65.605957,inf,inf,inf,52.650827,inf
2,167.282705,inf,167.282705,inf,inf,inf,161.733518,inf
3,inf,inf,inf,102.390438,inf,inf,101.226228,inf
4,inf,inf,inf,inf,44.119527,inf,68.166010,inf
5,inf,inf,inf,inf,inf,122.5,332.250000,inf
6,inf,inf,inf,inf,inf,inf,39.110049,inf
7,inf,inf,inf,inf,inf,inf,114.187067,27.067789

In [33]:
trips.replace({np.inf:np.nan}).groupby('mode_model').agg(
    {'time_rail_long_distance': 'mean', 'time_rail_short_distance': 'mean',
     'time_rail': 'mean', 'time_coach': 'mean', 'time_bus': 'mean',
     'time_air': 'mean', 'time_car': 'mean', 'time_walk': 'mean'})

,time_rail_long_distance,time_rail_short_distance,time_rail,time_coach,time_bus,time_air,time_car,time_walk
mode_model,,,,,,,,
1,136.483541,65.605957,65.605957,131.859099,92.005137,263.980407,52.650827,55.787585
2,167.282705,176.473399,167.282705,237.724546,103.670423,244.084615,161.733518,60.218333
3,196.312403,138.902317,136.292657,102.390438,92.102830,295.169333,101.226228,51.677407
4,201.151284,116.590070,117.345632,206.542805,44.119527,261.347158,68.166010,53.338738
5,291.546032,420.285417,287.009420,415.366667,NaN,122.500000,332.250000,71.433333
6,181.552944,109.084319,108.476832,179.585503,90.937795,292.813648,39.110049,56.528670
7,235.439861,160.213682,159.420531,270.089332,95.489331,287.633333,114.187067,27.067789

In [34]:
# How many observations must be dropped later and what are their shares?
mode_dict = {1: 'rail_short_distance', 2: 'rail_long_distance',
             3: 'coach', 4: 'bus', 5: 'air', 6: 'car', 7: 'walk'}
mode_dict = {v:k for k,v in mode_dict.items()}
for t in mode_dict.keys():
    k = len(trips.loc[((trips['mode_model']==mode_dict[t]) & (trips['time_'+t]==np.inf))])
    print('{}: {} observations have no model connection ({} percent)'.format(
        t, k, k/len(trips.loc[trips['mode_model']==mode_dict[t]])*100))

rail_short_distance: 0 observations have no model connection (0.0 percent)
rail_long_distance: 0 observations have no model connection (0.0 percent)
coach: 0 observations have no model connection (0.0 percent)
bus: 0 observations have no model connection (0.0 percent)
air: 0 observations have no model connection (0.0 percent)
car: 0 observations have no model connection (0.0 percent)
walk: 0 observations have no model connection (0.0 percent)

### Save calibration dataset

In [35]:
trips.to_csv(input_path + 'calibration_inter-cellular_trips_MiD2017.csv')